<ns-action-bar title="Giving"></ns-action-bar>

<FlexboxLayout class="text-center">
  <Label textWrap='true'
    text="We want to give you the opportunity to make an eternal investment in the advancement of the Gospel through Relevant Church with secure online giving. All donations made through this website will be used in the ministry of Relevant Church. Relevant Church is a non-profit Church that will provide you with a donation statement for all contributions made. To give, simply click on 'Give Here' button below."></Label>
  <Button text="GIVE HERE" class="btn btn-primary" (tap)="openLink()"></Button>
</FlexboxLayout>
