<TabView androidTabsPosition="bottom">

    <page-router-outlet *tabItem="{title: 'Home', iconSource: getIconSource('home')}" name="homeTab">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Events', iconSource: getIconSource('browse')}" name="eventsTab">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Giving', iconSource: getIconSource('search')}" name="givingTab">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Connect', iconSource: getIconSource('connect') }" name="contactTab">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Login', iconSource: getIconSource('connect') }" name="authTab">
    </page-router-outlet>

</TabView>
