<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Event Detail"></Label>
</ActionBar>

<FlexboxLayout [backgroundImage]="eventDetails.imageUrl">
  <StackLayout class="text-center">
    <Label class="event-title" [text]="eventDetails.title" textWrap="true"></Label>
    <Label [text]="eventDetails.description" textWrap="true"></Label>
    <!-- use a GridLayout for the below values -->
    <Label [text]="eventDetails.timeStart" textWrap="true"></Label>
    <Label [text]="eventDetails.timeEnd" textWrap="true"></Label>
    <Label [text]="eventDetails.date | date" textWrap="true"></Label>
  </StackLayout>
  <Button class="btn btn-primary" text="Close" (tap)="closeModal()"></Button>
</FlexboxLayout>
