<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Browse"></Label>
</ActionBar>

<RadListView [items]="currentEvents">
    <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal">
    </ListViewLinearLayout>
    <ng-template tkListItemTemplate let-event="item">
        <StackLayout class="fit-image" [backgroundImage]="event.imageUrl">
            <FlexboxLayout class="text-center event-content">
                <Label class="event-context" [text]="event.title"></Label>
                <Label [text]="event.description" textWrap="true"></Label>
            </FlexboxLayout>
        </StackLayout>
    </ng-template>
</RadListView>
