.fit-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 5;
  margin: 0 5;
}

.event-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 40%;
  padding: 5;
  background-color: transparentize(#494949, .2);
  border-radius: 15px;

  .event-context {
    font-size: 24;
    // margin-top: 40%;
  }
}

