<ns-action-bar title="Events">
    <ActionItem ios.position="right" android.position="actionBar" nsRouterLink="create" pageTransition="slideLeft">
        <Label ios:class="fa p-5" android:class="fa p-10" android:fonstSize="24" text="&#xf0fe;"></Label>
    </ActionItem>
    <!-- <ActionItem ios.position="right" android.position="actionBar" nsRouterLink="/challenges/edit" pageTransition="slideLeft"
        *ngIf="currentChallenge">
        <Label ios:class="fa p-5" android:class="fa p-10" android:fonstSize="24" text="&#xf044;"></Label>
    </ActionItem> -->
</ns-action-bar>

<RadListView [items]="currentEvents" selectionBehavior="Press">
    <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal">
    </ListViewLinearLayout>
    <ng-template tkListItemTemplate let-event="item">
        <StackLayout class="fit-image" [backgroundImage]="event.imageUrl || event.imageAsset"
            (tap)="onItemSelected(event)">
            <FlexboxLayout class="text-center event-content">
                <Label class="event-context" [text]="event.title"></Label>
                <Label [text]="event.description" textWrap="true"></Label>
            </FlexboxLayout>
        </StackLayout>
    </ng-template>
</RadListView>
